.flows.json.backup
[
    {
        "id": "51fc485990eae9e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dac2eed660b33142",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f7a5cadcd740f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0c51c89e7beff37c",
        "type": "ui_group",
        "name": "Default",
        "tab": "dac2eed660b33142",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d3812074d50c30f",
        "type": "ui_group",
        "name": "Stream",
        "tab": "dac2eed660b33142",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a805bc64178b1a5e",
        "type": "ui_group",
        "name": "Rotate",
        "tab": "dac2eed660b33142",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "22547511ad643eee",
        "type": "gcm-configuration",
        "d": true,
        "name": "",
        "apiKey": ""
    },
    {
        "id": "b656d2aa9b7a57c8",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo python3 ~/Downloads/pixelTest.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "6465a5aa99d6378d"
            ],
            [],
            []
        ]
    },
    {
        "id": "30b1d7cefce4962c",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b656d2aa9b7a57c8"
            ]
        ]
    },
    {
        "id": "6465a5aa99d6378d",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "0737718ff282b15f",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "quit",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "b656d2aa9b7a57c8"
            ]
        ]
    },
    {
        "id": "b8a0a8a1ed9afc77",
        "type": "python3-function",
        "z": "51fc485990eae9e2",
        "name": "",
        "func": "import RPi.GPIO as GPIO\nimport time\nGPIO.setmode(GPIO.BOARD)\ncontrol_pins = [7,11,13,15]\nfor pin in control_pins:\n    GPIO.setup(pin, GPIO.OUT)\n    GPIO.output(pin, 0)\n\nhalfstep_seq = [\n    [1,0,0,0],\n    [1,1,0,0],\n    [0,1,0,0],\n    [0,1,1,0],\n    [0,0,1,0],\n    [0,0,1,1],\n    [0,0,0,1],\n    [1,0,0,1]\n]\n\nnode.send(\"direction: \" + str(msg['direction']) + \"  steps: \"+ str(int(msg['steps'])) + \"  waitBetweenSteps: \" + str(float(msg['waitBetweenSteps'] )))\n\nif msg['direction'] == \"forward\":\n    for i in range(int(msg['steps'])):\n        for halfstep in range(8):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n        \n\nelif msg['direction'] == \"backward\":\n\n    for i in range(msg['steps']):\n        for halfstep in reversed(range(8)):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n\nGPIO.cleanup()\n\n",
        "outputs": 1,
        "x": 460,
        "y": 560,
        "wires": [
            [
                "f4675ee063a53a3b"
            ]
        ]
    },
    {
        "id": "2010e6828c0d6f63",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "Json Stepper Definition",
        "props": [
            {
                "p": "direction",
                "v": "forward",
                "vt": "str"
            },
            {
                "p": "steps",
                "v": "512",
                "vt": "num"
            },
            {
                "p": "waitBetweenSteps",
                "v": "0.001",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "f4675ee063a53a3b",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "a350e34bc06c10ba",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "Json Stepper Definition",
        "props": [
            {
                "p": "direction",
                "v": "backward",
                "vt": "str"
            },
            {
                "p": "steps",
                "v": "512",
                "vt": "num"
            },
            {
                "p": "waitBetweenSteps",
                "v": "0.001",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "3297b75b82b89c1c",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "b8a0a8a1ed9afc77",
                "f4675ee063a53a3b",
                "8f1d8eb50e29ded6"
            ]
        ]
    },
    {
        "id": "fe71253d25a2b7f4",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "backward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 680,
        "wires": [
            [
                "b8a0a8a1ed9afc77",
                "f4675ee063a53a3b",
                "06108d9602b98087"
            ]
        ]
    },
    {
        "id": "b039fabc420e2d81",
        "type": "ui_slider",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "left",
        "tooltip": "",
        "group": "0c51c89e7beff37c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 640,
        "wires": [
            [
                "3297b75b82b89c1c"
            ]
        ]
    },
    {
        "id": "a06ac381633b4f90",
        "type": "ui_slider",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "right",
        "tooltip": "",
        "group": "0c51c89e7beff37c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "fe71253d25a2b7f4"
            ]
        ]
    },
    {
        "id": "8f1d8eb50e29ded6",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 640,
        "wires": [
            [
                "ecc36a5fd1dda4a4"
            ]
        ]
    },
    {
        "id": "06108d9602b98087",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 680,
        "wires": [
            [
                "de6fc59e44147bc2"
            ]
        ]
    },
    {
        "id": "ecc36a5fd1dda4a4",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 640,
        "wires": [
            [
                "b039fabc420e2d81"
            ]
        ]
    },
    {
        "id": "de6fc59e44147bc2",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 680,
        "wires": [
            [
                "a06ac381633b4f90"
            ]
        ]
    },
    {
        "id": "fdccbec3a80aae1a",
        "type": "ui_colour_picker",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "",
        "group": "0c51c89e7beff37c",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "147c59dc57af6bc0",
                "6465a5aa99d6378d"
            ]
        ]
    },
    {
        "id": "158872ab42aa15e0",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo python3 ~/Downloads/pixelColor.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 560,
        "y": 760,
        "wires": [
            [
                "1062305c3b13929a"
            ],
            [
                "1062305c3b13929a"
            ],
            [
                "1062305c3b13929a"
            ]
        ]
    },
    {
        "id": "147c59dc57af6bc0",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "rgb(",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "158872ab42aa15e0"
            ]
        ]
    },
    {
        "id": "1062305c3b13929a",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 760,
        "wires": []
    },
    {
        "id": "099fcea174a0354d",
        "type": "shutdown",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 460,
        "y": 20,
        "wires": []
    },
    {
        "id": "ea7f49d618e15941",
        "type": "restart",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 890,
        "y": 20,
        "wires": []
    },
    {
        "id": "1eaba432bcf0faba",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 20,
        "wires": [
            [
                "099fcea174a0354d"
            ]
        ]
    },
    {
        "id": "0255aed030c9815b",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 20,
        "wires": [
            [
                "ea7f49d618e15941"
            ]
        ]
    },
    {
        "id": "7bd5a923d6fc93c5",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "cd  ~/Documents/movenet_stream_privacy/ && source venv/bin/activate && python3 demo.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ]
        ]
    },
    {
        "id": "be3ed87f91ad09af",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "9890c788d3074b81",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "run",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4b63c2827d6959f7",
                "65dba4624991126b"
            ]
        ]
    },
    {
        "id": "61fa22dbf75783fe",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Daylight Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "run",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "9718a2c3095fb608",
                "65dba4624991126b"
            ]
        ]
    },
    {
        "id": "936a62b214eef6ae",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Infrared Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "run",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "efec5d59a092c176",
                "65dba4624991126b"
            ]
        ]
    },
    {
        "id": "efec5d59a092c176",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-bl -i 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-bl -i 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "7bd5a923d6fc93c5"
            ]
        ]
    },
    {
        "id": "9718a2c3095fb608",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-bl -e",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-bl -e",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "7bd5a923d6fc93c5"
            ]
        ]
    },
    {
        "id": "4b63c2827d6959f7",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "7bd5a923d6fc93c5"
            ]
        ]
    },
    {
        "id": "553f7e1863755e2e",
        "type": "ui_template",
        "z": "51fc485990eae9e2",
        "group": "4d3812074d50c30f",
        "name": "",
        "order": 6,
        "width": "20",
        "height": "12",
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n    <style>\n        iframe {\n            width: 786px;\n            height: 600px;\n            border: 0;\n            overflow: hidden;\n        }\n    </style>\n</head>\n\n<body>\n    <center>\n        <h2 style=\"color:green\">GeeksforGeeks</h2>\n        <h4 style=\"color:purple\">Reload / Refresh an iframe</h4>\n        <iframe id=\"iframeid\" ng-src=\"{{url}}\" width=\"600\" height=\"450\" frameborder=\"0\"\n            style=\"border:0\" allowfullscreen>\n\n            \n        </iframe>\n        <input type=\"button\"\n               id=\"btn\"\n               value=\"Refresh\" />\n\n        <div ng-bind-html=\"msg.payload\"></div>\n            <script>\n                function reload() {\n                    document.getElementById('iframeid').src += '';\n                }\n                btn.onclick = reload;\n               \n                //console.dir(scope) // this works\n                //console.dir(scope.msg) // This doesn't because scope.msg doesn't yet exist\n                \n                // Lambda function to access the Angular Scope\n                (function(scope) {\n                //console.log('--- SCOPE ---')\n                //console.dir(scope) // this works but you only get it once (on startup)\n                //console.dir(scope.msg) // Doesn't work for because scope.msg doesn't yet exist\n\n                //Have to use $watch - as we can't directly access $scope - so we pick up new, incoming msg's\n                scope.$watch('msg.payload', function(newVal, oldVal) {\n                console.log('- Scope.msg -');\n                console.dir(scope.msg);\n                vm.url = ['http://raspberypi.local:5000'];\n                })\n\n                })(scope)\n\n\n            </script>        \n    </center>\n\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            [
                "6465a5aa99d6378d"
            ]
        ]
    },
    {
        "id": "f55d9a479d6cb814",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Refresh",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 580,
        "y": 340,
        "wires": [
            [
                "553f7e1863755e2e"
            ]
        ]
    },
    {
        "id": "c22ca7a9aba44d44",
        "type": "pythonshell in",
        "z": "51fc485990eae9e2",
        "name": "motor",
        "pyfile": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/motor.py",
        "virtualenv": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/rgb_sensor_venv",
        "continuous": true,
        "stdInData": true,
        "x": 1350,
        "y": 140,
        "wires": [
            [
                "27ab02cd0d2cb9e9"
            ]
        ]
    },
    {
        "id": "27ab02cd0d2cb9e9",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1500,
        "y": 140,
        "wires": []
    },
    {
        "id": "2fff55621bcae3d1",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLURRED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_RIGHT",
        "payloadType": "str",
        "x": 1130,
        "y": 100,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "24f5c35e22934878",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "MASKED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_RIGHT",
        "payloadType": "str",
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "73b9353456e9aeae",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "OPEN_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_RIGHT",
        "payloadType": "str",
        "x": 1120,
        "y": 220,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "bee061aa904f015d",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLOCKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_LEFT",
        "payloadType": "str",
        "x": 1140,
        "y": 60,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "0f43de1a42b95548",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLURRED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_LEFT",
        "payloadType": "str",
        "x": 1140,
        "y": 120,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "716a1178d69bda55",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "MASKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_LEFT",
        "payloadType": "str",
        "x": 1140,
        "y": 180,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "a7a567a686f1876e",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "OPEN_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_LEFT",
        "payloadType": "str",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "41e49905043a5aeb",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "READ_CONTINOUSLY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "READ_CONTINOUSLY",
        "payloadType": "str",
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "b669a91a89a96991",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_RIGHT",
        "payloadType": "str",
        "x": 1130,
        "y": 20,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "65dba4624991126b",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "f55d9a479d6cb814"
            ]
        ]
    }
]