.flows.json.backup
[
    {
        "id": "51fc485990eae9e2",
        "type": "tab",
        "label": "Big messy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "327f47efb16c7f0d",
        "type": "tab",
        "label": "Calibrate",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1311574b9598fed7",
        "type": "tab",
        "label": "Gotifier - Send Notifications",
        "disabled": false,
        "info": "Send a custom push notification via Gotify."
    },
    {
        "id": "dac2eed660b33142",
        "type": "ui_tab",
        "name": "Home",
        "icon": "power_settings_new",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f7a5cadcd740f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0c51c89e7beff37c",
        "type": "ui_group",
        "name": "Camera Controls",
        "tab": "dac2eed660b33142",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d3812074d50c30f",
        "type": "ui_group",
        "name": "Stream",
        "tab": "aba3da6e9323ebf6",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a805bc64178b1a5e",
        "type": "ui_group",
        "name": "Debug",
        "tab": "655c8dc16a67b913",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aba3da6e9323ebf6",
        "type": "ui_tab",
        "name": "Stream",
        "icon": "camera",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "655c8dc16a67b913",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "bug_report",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81d9dc7d2bc2e629",
        "type": "ui_spacer",
        "z": "327f47efb16c7f0d",
        "name": "spacer",
        "group": "a805bc64178b1a5e",
        "order": 4,
        "width": "6",
        "height": "1"
    },
    {
        "id": "798c9dda9a34b843",
        "type": "ui_group",
        "name": "Calibrate bed",
        "tab": "aba3da6e9323ebf6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a2013af6e44db409",
        "type": "gotify-server",
        "name": "AI Monitoring",
        "url": "http://192.168.1.42"
    },
    {
        "id": "b656d2aa9b7a57c8",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo python3 ~/Downloads/pixelTest.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 1680,
        "wires": [
            [
                "6465a5aa99d6378d"
            ],
            [],
            []
        ]
    },
    {
        "id": "30b1d7cefce4962c",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "b656d2aa9b7a57c8"
            ]
        ]
    },
    {
        "id": "6465a5aa99d6378d",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 760,
        "y": 1660,
        "wires": []
    },
    {
        "id": "0737718ff282b15f",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "quit",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "b656d2aa9b7a57c8"
            ]
        ]
    },
    {
        "id": "b8a0a8a1ed9afc77",
        "type": "python3-function",
        "z": "51fc485990eae9e2",
        "name": "Motor Control",
        "func": "import RPi.GPIO as GPIO\nimport time\nGPIO.setmode(GPIO.BOARD)\ncontrol_pins = [7,11,13,15]\nfor pin in control_pins:\n    GPIO.setup(pin, GPIO.OUT)\n    GPIO.output(pin, 0)\n\nhalfstep_seq = [\n    [1,0,0,0],\n    [1,1,0,0],\n    [0,1,0,0],\n    [0,1,1,0],\n    [0,0,1,0],\n    [0,0,1,1],\n    [0,0,0,1],\n    [1,0,0,1]\n]\n\nnode.send(\"direction: \" + str(msg['direction']) + \"  steps: \"+ str(int(msg['steps'])) + \"  waitBetweenSteps: \" + str(float(msg['waitBetweenSteps'] )))\n\nif msg['direction'] == \"forward\":\n    for i in range(int(msg['steps'])):\n        for halfstep in range(8):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n        \n\nelif msg['direction'] == \"backward\":\n\n    for i in range(msg['steps']):\n        for halfstep in reversed(range(8)):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n\nGPIO.cleanup()\n\n",
        "outputs": 1,
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "f4675ee063a53a3b"
            ]
        ]
    },
    {
        "id": "2010e6828c0d6f63",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "Json Stepper Definition",
        "props": [
            {
                "p": "direction",
                "v": "forward",
                "vt": "str"
            },
            {
                "p": "steps",
                "v": "512",
                "vt": "num"
            },
            {
                "p": "waitBetweenSteps",
                "v": "0.001",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 680,
        "y": 680,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "f4675ee063a53a3b",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 660,
        "wires": []
    },
    {
        "id": "a350e34bc06c10ba",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "Json Stepper Definition",
        "props": [
            {
                "p": "direction",
                "v": "backward",
                "vt": "str"
            },
            {
                "p": "steps",
                "v": "512",
                "vt": "num"
            },
            {
                "p": "waitBetweenSteps",
                "v": "0.001",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 680,
        "y": 660,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "3297b75b82b89c1c",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 740,
        "wires": [
            [
                "b8a0a8a1ed9afc77",
                "f4675ee063a53a3b",
                "8f1d8eb50e29ded6"
            ]
        ]
    },
    {
        "id": "fe71253d25a2b7f4",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "backward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 780,
        "wires": [
            [
                "b8a0a8a1ed9afc77",
                "f4675ee063a53a3b",
                "06108d9602b98087"
            ]
        ]
    },
    {
        "id": "b039fabc420e2d81",
        "type": "ui_slider",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "left",
        "tooltip": "",
        "group": "a805bc64178b1a5e",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "3297b75b82b89c1c"
            ]
        ]
    },
    {
        "id": "a06ac381633b4f90",
        "type": "ui_slider",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "right",
        "tooltip": "",
        "group": "a805bc64178b1a5e",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 340,
        "y": 780,
        "wires": [
            [
                "fe71253d25a2b7f4"
            ]
        ]
    },
    {
        "id": "8f1d8eb50e29ded6",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 740,
        "wires": [
            [
                "ecc36a5fd1dda4a4"
            ]
        ]
    },
    {
        "id": "06108d9602b98087",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 780,
        "wires": [
            [
                "de6fc59e44147bc2"
            ]
        ]
    },
    {
        "id": "ecc36a5fd1dda4a4",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 740,
        "wires": [
            [
                "b039fabc420e2d81"
            ]
        ]
    },
    {
        "id": "de6fc59e44147bc2",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 960,
        "y": 780,
        "wires": [
            [
                "a06ac381633b4f90"
            ]
        ]
    },
    {
        "id": "fdccbec3a80aae1a",
        "type": "ui_colour_picker",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "LED control",
        "group": "a805bc64178b1a5e",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "147c59dc57af6bc0"
            ]
        ]
    },
    {
        "id": "158872ab42aa15e0",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo python3 ~/Documents/movenet_stream_privacy/physical_camera_interface/pixelColor.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LED Control",
        "x": 470,
        "y": 960,
        "wires": [
            [
                "1062305c3b13929a"
            ],
            [
                "1062305c3b13929a"
            ],
            [
                "1062305c3b13929a"
            ]
        ]
    },
    {
        "id": "147c59dc57af6bc0",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "rgb(",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 960,
        "wires": [
            [
                "158872ab42aa15e0",
                "1062305c3b13929a"
            ]
        ]
    },
    {
        "id": "1062305c3b13929a",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "099fcea174a0354d",
        "type": "shutdown",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 460,
        "y": 20,
        "wires": []
    },
    {
        "id": "ea7f49d618e15941",
        "type": "restart",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 890,
        "y": 20,
        "wires": []
    },
    {
        "id": "1eaba432bcf0faba",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 20,
        "wires": [
            [
                "099fcea174a0354d"
            ]
        ]
    },
    {
        "id": "0255aed030c9815b",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 20,
        "wires": [
            [
                "ea7f49d618e15941"
            ]
        ]
    },
    {
        "id": "7bd5a923d6fc93c5",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "cd  ~/Documents/movenet_stream_privacy/ && source venv/bin/activate && python3 streaming_manager.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Camera Control",
        "x": 440,
        "y": 1040,
        "wires": [
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ]
        ]
    },
    {
        "id": "be3ed87f91ad09af",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9890c788d3074b81",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop_screen_share",
        "payload": "Stopping",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4b63c2827d6959f7",
                "e7dabda35bf65f08",
                "4e96f2ab91c216ba",
                "864d3bfbc44f3a42"
            ]
        ]
    },
    {
        "id": "61fa22dbf75783fe",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Daylight Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "wb_sunny",
        "payload": "Starting",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "9718a2c3095fb608",
                "65dba4624991126b",
                "388b2e7adace4a82",
                "b83739ddd86e93b8",
                "630a317bde6e428a",
                "864d3bfbc44f3a42"
            ]
        ]
    },
    {
        "id": "936a62b214eef6ae",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Infrared Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "highlight",
        "payload": "Starting",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "efec5d59a092c176",
                "65dba4624991126b",
                "388b2e7adace4a82",
                "b83739ddd86e93b8",
                "630a317bde6e428a",
                "864d3bfbc44f3a42"
            ]
        ]
    },
    {
        "id": "efec5d59a092c176",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-i 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-i 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f49b159aa030d7b2"
            ]
        ]
    },
    {
        "id": "9718a2c3095fb608",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-e",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-e",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "f49b159aa030d7b2"
            ]
        ]
    },
    {
        "id": "4b63c2827d6959f7",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "f49b159aa030d7b2"
            ]
        ]
    },
    {
        "id": "c22ca7a9aba44d44",
        "type": "pythonshell in",
        "z": "51fc485990eae9e2",
        "name": "motor",
        "pyfile": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/motor.py",
        "virtualenv": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/rgb_sensor_venv",
        "continuous": true,
        "stdInData": true,
        "x": 1230,
        "y": 980,
        "wires": [
            [
                "27ab02cd0d2cb9e9"
            ]
        ]
    },
    {
        "id": "27ab02cd0d2cb9e9",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1380,
        "y": 980,
        "wires": []
    },
    {
        "id": "2fff55621bcae3d1",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLURRED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_RIGHT",
        "payloadType": "str",
        "x": 1010,
        "y": 1060,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "24f5c35e22934878",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "MASKED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_RIGHT",
        "payloadType": "str",
        "x": 1000,
        "y": 1120,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "73b9353456e9aeae",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "OPEN_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_RIGHT",
        "payloadType": "str",
        "x": 1000,
        "y": 1180,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "bee061aa904f015d",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLOCKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_LEFT",
        "payloadType": "str",
        "x": 1020,
        "y": 1020,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "0f43de1a42b95548",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "BLURRED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_LEFT",
        "payloadType": "str",
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "716a1178d69bda55",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "MASKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_LEFT",
        "payloadType": "str",
        "x": 1020,
        "y": 1140,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "a7a567a686f1876e",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "OPEN_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_LEFT",
        "payloadType": "str",
        "x": 1010,
        "y": 1200,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "41e49905043a5aeb",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "READ_CONTINOUSLY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "READ_CONTINOUSLY",
        "payloadType": "str",
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "b669a91a89a96991",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_RIGHT",
        "payloadType": "str",
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "65dba4624991126b",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "0ac1bad5e801ecf0"
            ]
        ]
    },
    {
        "id": "32e14c558394e8a0",
        "type": "ui_ui_control",
        "z": "51fc485990eae9e2",
        "name": "",
        "events": "all",
        "x": 920,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0ac1bad5e801ecf0",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stream",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 300,
        "wires": [
            [
                "32e14c558394e8a0"
            ]
        ]
    },
    {
        "id": "f55d9a479d6cb814",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "4d3812074d50c30f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "Home",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "32e14c558394e8a0",
                "8092eaea7904da25"
            ]
        ]
    },
    {
        "id": "31b7f3dbed5f1478",
        "type": "ui_iframe",
        "z": "51fc485990eae9e2",
        "group": "4d3812074d50c30f",
        "name": "",
        "order": 4,
        "width": "14",
        "height": "13",
        "url": "http://raspberrypi.local:5000",
        "origin": "*",
        "scale": 100,
        "x": 750,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "388b2e7adace4a82",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "turn motor backward",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "backward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "steps",
                "pt": "msg",
                "to": "256",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "e7dabda35bf65f08",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "BLOCKED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLOCKED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "4cec16956d018d7f"
            ]
        ]
    },
    {
        "id": "b83739ddd86e93b8",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "15 17 21",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "15 17 21",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "1f83c74d76231e82",
                "75185c1e3bf303f8"
            ]
        ]
    },
    {
        "id": "1f83c74d76231e82",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "e75d651a771a4090"
            ]
        ]
    },
    {
        "id": "e75d651a771a4090",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "0 0 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "75185c1e3bf303f8"
            ]
        ]
    },
    {
        "id": "bf3e0f643d780fb9",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 740,
        "wires": [
            [
                "b83739ddd86e93b8"
            ]
        ]
    },
    {
        "id": "4e96f2ab91c216ba",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "26 10 16",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "26 10 16",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "d4217ab2417bc82e",
                "75185c1e3bf303f8"
            ]
        ]
    },
    {
        "id": "d4217ab2417bc82e",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 300,
        "y": 600,
        "wires": [
            [
                "c5e01b128f4d9023"
            ]
        ]
    },
    {
        "id": "c5e01b128f4d9023",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "0 0 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "75185c1e3bf303f8"
            ]
        ]
    },
    {
        "id": "29b76f4c69c130dd",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "Open Camera",
        "group": "4d3812074d50c30f",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Open Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "remove_red_eye",
        "payload": "{\"camera\":\"open\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 760,
        "y": 560,
        "wires": [
            [
                "0f7a72c0d99ddc90",
                "388b2e7adace4a82",
                "ff135c7243f4c594"
            ]
        ]
    },
    {
        "id": "8092eaea7904da25",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "de676ca6f603f6a6"
            ]
        ]
    },
    {
        "id": "de676ca6f603f6a6",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "Back to Stream",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stream",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "32e14c558394e8a0"
            ]
        ]
    },
    {
        "id": "0f7a72c0d99ddc90",
        "type": "http request",
        "z": "51fc485990eae9e2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1230,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "be93ca1324976a10",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"camera\":\"open\"}",
        "payloadType": "json",
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "0f7a72c0d99ddc90"
            ]
        ]
    },
    {
        "id": "3ff9b3e73993324c",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"camera\":\"blur\"}",
        "payloadType": "json",
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "0f7a72c0d99ddc90"
            ]
        ]
    },
    {
        "id": "01021426b1d1f2b9",
        "type": "ui_slider",
        "z": "51fc485990eae9e2",
        "name": "",
        "label": "Keep open (s)",
        "tooltip": "",
        "group": "4d3812074d50c30f",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "5",
        "max": "600",
        "step": "5",
        "className": "",
        "x": 1180,
        "y": 800,
        "wires": [
            [
                "e84f4aab09ef168b"
            ]
        ]
    },
    {
        "id": "5a3e014245c487e1",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1180,
        "y": 560,
        "wires": [
            [
                "4553ba146060cc30",
                "dbacf2cababb5b4c"
            ]
        ]
    },
    {
        "id": "4553ba146060cc30",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "blur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"blur\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 520,
        "wires": [
            [
                "0f7a72c0d99ddc90"
            ]
        ]
    },
    {
        "id": "dbacf2cababb5b4c",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "turn motor forward",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "steps",
                "pt": "msg",
                "to": "256",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "b8a0a8a1ed9afc77"
            ]
        ]
    },
    {
        "id": "66305e9d1d22cd7d",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ff135c7243f4c594",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 600,
        "wires": [
            [
                "5a3e014245c487e1"
            ]
        ]
    },
    {
        "id": "e84f4aab09ef168b",
        "type": "function",
        "z": "51fc485990eae9e2",
        "name": "s to ms",
        "func": "msg.payload *= 1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 760,
        "wires": [
            [
                "66305e9d1d22cd7d"
            ]
        ]
    },
    {
        "id": "3b07d086b3f5ca4f",
        "type": "ui_text",
        "z": "51fc485990eae9e2",
        "group": "a805bc64178b1a5e",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Debug text",
        "label": "This tab is for debugging only",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "c69301e258032bcd",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "a805bc64178b1a5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown system",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "099fcea174a0354d"
            ]
        ]
    },
    {
        "id": "95a6b0b49782f54c",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "a805bc64178b1a5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart system",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "ea7f49d618e15941"
            ]
        ]
    },
    {
        "id": "d472ef0ef5528a35",
        "type": "ui_text",
        "z": "51fc485990eae9e2",
        "group": "a805bc64178b1a5e",
        "order": 14,
        "width": "6",
        "height": "1",
        "name": "Manually text",
        "label": "Manually control motor and light",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 880,
        "wires": []
    },
    {
        "id": "110f7f6e76fbf667",
        "type": "ip",
        "z": "51fc485990eae9e2",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "55021d540966bfd5"
            ]
        ]
    },
    {
        "id": "6700b98d895156fc",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "110f7f6e76fbf667"
            ]
        ]
    },
    {
        "id": "55021d540966bfd5",
        "type": "function",
        "z": "51fc485990eae9e2",
        "name": "set camera view iframe to localhost ip",
        "func": "msg.url = \"http://\" + msg.payload.internalIPv4 + \":5000\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1240,
        "wires": [
            [
                "31b7f3dbed5f1478"
            ]
        ]
    },
    {
        "id": "630a317bde6e428a",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "Start camera",
        "mode": "link",
        "links": [
            "f8c8fb49e1d301b0"
        ],
        "x": 345,
        "y": 140,
        "wires": []
    },
    {
        "id": "864d3bfbc44f3a42",
        "type": "ui_toast",
        "z": "51fc485990eae9e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "b563a41d147e38b3",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "turn motor backward/left",
        "links": [
            "d88f03840cf26084"
        ],
        "x": 345,
        "y": 500,
        "wires": [
            [
                "388b2e7adace4a82"
            ]
        ]
    },
    {
        "id": "9d0b263feb28b585",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "turn motor forward/right",
        "links": [
            "734a0506156b5009"
        ],
        "x": 1145,
        "y": 620,
        "wires": [
            [
                "dbacf2cababb5b4c"
            ]
        ]
    },
    {
        "id": "50f1ed88d03b6d15",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "LED_control",
        "links": [
            "75185c1e3bf303f8"
        ],
        "x": 325,
        "y": 900,
        "wires": [
            [
                "158872ab42aa15e0"
            ]
        ]
    },
    {
        "id": "4d8f78de84f53cb4",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Daylight Camera in Background",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "all_inclusive",
        "payload": "Starting in background",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "cffedabdda340f65",
                "630a317bde6e428a",
                "864d3bfbc44f3a42",
                "388b2e7adace4a82",
                "ddfd10e219323995"
            ]
        ]
    },
    {
        "id": "cffedabdda340f65",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-e",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-e -b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "f49b159aa030d7b2"
            ]
        ]
    },
    {
        "id": "023420b9dece0160",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "http request to python",
        "links": [
            "d1868304b4e2ea32"
        ],
        "x": 1105,
        "y": 380,
        "wires": [
            [
                "0f7a72c0d99ddc90"
            ]
        ]
    },
    {
        "id": "75185c1e3bf303f8",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "led control",
        "mode": "link",
        "links": [
            "50f1ed88d03b6d15"
        ],
        "x": 310,
        "y": 660,
        "wires": [],
        "icon": "node-red/light.svg",
        "l": true
    },
    {
        "id": "ddfd10e219323995",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "15 17 21",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "15 17 21",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "75185c1e3bf303f8"
            ]
        ]
    },
    {
        "id": "f2b7efc9a618b81b",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "Camera Control/Start",
        "links": [
            "f49b159aa030d7b2"
        ],
        "x": 220,
        "y": 1040,
        "wires": [
            [
                "7bd5a923d6fc93c5"
            ]
        ],
        "l": true
    },
    {
        "id": "f49b159aa030d7b2",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 550,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "4cec16956d018d7f",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "mode": "link",
        "links": [
            "b02662db37b059aa"
        ],
        "x": 750,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "b02662db37b059aa",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "links": [
            "4cec16956d018d7f"
        ],
        "x": 1065,
        "y": 940,
        "wires": [
            [
                "c22ca7a9aba44d44"
            ]
        ]
    },
    {
        "id": "ec95bd9e18d519bd",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "842af6c338a7240a"
            ]
        ]
    },
    {
        "id": "842af6c338a7240a",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo docker run -p 80:80 -v /var/gotify/data:/app/data gotify/server-arm64",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "launch gotify push message server",
        "x": 400,
        "y": 1380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "983753b41a869c06",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "1x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 6,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "1x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "1f3a5c7a468978d1",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "1y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 7,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "1y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "8ebf06c5dec318f1",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "2x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 8,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "2x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "e37ea9607b3071fc",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "2y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 9,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "2y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "a75a50fdd3a52767",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "3x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 10,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "3x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "4784b1f995ed89ba",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "3y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 11,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "3y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "16946a14565ba91a",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "4x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 12,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "4x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "b1346971aa493f07",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "4y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 13,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "4y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "e901b9e1fd58855f",
        "type": "ui_text",
        "z": "327f47efb16c7f0d",
        "group": "a805bc64178b1a5e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjust bed position",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "866a68c9e80a49ab",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"camera\":\"blur\"}",
        "payloadType": "json",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "38204fb2cc87411f",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"camera\":\"open\"}",
        "payloadType": "json",
        "x": 990,
        "y": 420,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "f3914d316ef27f0e",
        "type": "http request",
        "z": "327f47efb16c7f0d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "54e4e908391bd322",
        "type": "join",
        "z": "327f47efb16c7f0d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "526990eaabad75f4"
            ]
        ]
    },
    {
        "id": "526990eaabad75f4",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bed_points",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 140,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "d9838f461d562009",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bed_points",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "7722031035527275"
            ]
        ]
    },
    {
        "id": "8014812cbb0a1787",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "d9838f461d562009"
            ]
        ]
    },
    {
        "id": "7722031035527275",
        "type": "split",
        "z": "327f47efb16c7f0d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "topic",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "ae8998fb87e318ca",
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "5e99f4bc7d09a39c",
        "type": "comment",
        "z": "327f47efb16c7f0d",
        "name": "remember on start old values",
        "info": "",
        "x": 220,
        "y": 200,
        "wires": []
    },
    {
        "id": "ae8998fb87e318ca",
        "type": "switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4y",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "983753b41a869c06"
            ],
            [
                "1f3a5c7a468978d1"
            ],
            [
                "8ebf06c5dec318f1"
            ],
            [
                "e37ea9607b3071fc"
            ],
            [
                "a75a50fdd3a52767"
            ],
            [
                "4784b1f995ed89ba"
            ],
            [
                "16946a14565ba91a"
            ],
            [
                "b1346971aa493f07"
            ]
        ]
    },
    {
        "id": "f8c8fb49e1d301b0",
        "type": "link in",
        "z": "327f47efb16c7f0d",
        "name": "",
        "links": [
            "630a317bde6e428a"
        ],
        "x": 785,
        "y": 40,
        "wires": [
            [
                "9a88a67bc50e7c6f"
            ]
        ]
    },
    {
        "id": "9a88a67bc50e7c6f",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 40,
        "wires": [
            [
                "2d7c2b4b56223609"
            ]
        ]
    },
    {
        "id": "2fbedaf8ce114813",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 740,
        "y": 80,
        "wires": [
            [
                "2d7c2b4b56223609"
            ]
        ]
    },
    {
        "id": "2d7c2b4b56223609",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bed_points",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 80,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "db451d16d289f05c",
        "type": "http in",
        "z": "327f47efb16c7f0d",
        "name": "",
        "url": "body",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "a28caa844f46be41",
                "27e036b0501b44a3"
            ]
        ]
    },
    {
        "id": "a28caa844f46be41",
        "type": "http response",
        "z": "327f47efb16c7f0d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 740,
        "wires": []
    },
    {
        "id": "27e036b0501b44a3",
        "type": "switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "property": "payload.body",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "not_there",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "is_there",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 780,
        "wires": [
            [
                "78f0ed525611ec2c"
            ],
            [
                "f53456ac30f04595"
            ]
        ]
    },
    {
        "id": "734a0506156b5009",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "turn motor forward/right",
        "mode": "link",
        "links": [
            "9d0b263feb28b585"
        ],
        "x": 1090,
        "y": 760,
        "wires": [],
        "l": true
    },
    {
        "id": "d88f03840cf26084",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "turn motor backward/left",
        "mode": "link",
        "links": [
            "b563a41d147e38b3"
        ],
        "x": 1030,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "dcfb064bf43c794c",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 760,
        "wires": [
            [
                "734a0506156b5009",
                "e93d40700d1ce48b"
            ]
        ]
    },
    {
        "id": "3410be6492fe70a5",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "d88f03840cf26084",
                "dcfb064bf43c794c",
                "552f8ac98f28f430"
            ]
        ]
    },
    {
        "id": "53d0b89d375d0141",
        "type": "gotify-notification",
        "z": "327f47efb16c7f0d",
        "server": "a2013af6e44db409",
        "title": "Monitoring",
        "x": 910,
        "y": 980,
        "wires": []
    },
    {
        "id": "4717f9da141800ef",
        "type": "ui_toast",
        "z": "327f47efb16c7f0d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 920,
        "y": 900,
        "wires": []
    },
    {
        "id": "f53456ac30f04595",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "Person entered zone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Person entered zone",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 800,
        "wires": [
            [
                "3410be6492fe70a5",
                "4717f9da141800ef",
                "53d0b89d375d0141"
            ]
        ]
    },
    {
        "id": "78f0ed525611ec2c",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "Person left zone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Person left zone",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 720,
        "wires": [
            [
                "4717f9da141800ef",
                "53d0b89d375d0141"
            ]
        ]
    },
    {
        "id": "552f8ac98f28f430",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "{\"camera\":\"open\"}",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 680,
        "wires": [
            [
                "d1868304b4e2ea32"
            ]
        ]
    },
    {
        "id": "e93d40700d1ce48b",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "{\"camera\":\"blur\"}",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"blur\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 800,
        "wires": [
            [
                "d1868304b4e2ea32"
            ]
        ]
    },
    {
        "id": "d1868304b4e2ea32",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "http request ",
        "mode": "link",
        "links": [
            "023420b9dece0160"
        ],
        "x": 1220,
        "y": 680,
        "wires": [],
        "l": true
    },
    {
        "id": "14678bba4d28044b",
        "type": "ui_switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "Background Processing On",
        "tooltip": "",
        "group": "0c51c89e7beff37c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "35ae8145f1a0968b",
        "type": "ui_switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "LED Status Light On",
        "tooltip": "",
        "group": "0c51c89e7beff37c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4737f8473b91a7c1",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "cce20920a516f50d",
        "type": "switch",
        "z": "1311574b9598fed7",
        "name": "Failure?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 340,
        "wires": [
            [
                "31b99c2cef93dfcc"
            ]
        ]
    },
    {
        "id": "31b99c2cef93dfcc",
        "type": "template",
        "z": "1311574b9598fed7",
        "name": "Payload: Failure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Notification Failed to send :[",
        "output": "str",
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "e4e78eb424e24a44"
            ]
        ]
    },
    {
        "id": "e4e78eb424e24a44",
        "type": "debug",
        "z": "1311574b9598fed7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "7760270796f7ae3e",
        "type": "http request",
        "z": "1311574b9598fed7",
        "name": "Send Request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "{{{serverBaseURL}}}/message?token={{appToken}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "cfbb18f0d1a89057"
            ]
        ]
    },
    {
        "id": "15191cf7909388fb",
        "type": "credentials",
        "z": "1311574b9598fed7",
        "name": "Data: Server URL & App Token",
        "props": [
            {
                "value": "appToken",
                "type": "msg"
            },
            {
                "value": "serverBaseURL",
                "type": "msg"
            }
        ],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "7760270796f7ae3e"
            ]
        ]
    },
    {
        "id": "df70aefdddc2a851",
        "type": "template",
        "z": "1311574b9598fed7",
        "name": "Payload: Success",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Notification sent succesfully!",
        "output": "str",
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cfbb18f0d1a89057",
        "type": "switch",
        "z": "1311574b9598fed7",
        "name": "Success?",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1140,
        "y": 160,
        "wires": [
            [
                "df70aefdddc2a851"
            ]
        ]
    },
    {
        "id": "354ffe796985b0e2",
        "type": "inject",
        "z": "1311574b9598fed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test this",
        "payloadType": "str",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "c12183d9fc82a5aa"
            ]
        ]
    },
    {
        "id": "3749f5c4040b9629",
        "type": "inject",
        "z": "1311574b9598fed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "204e44be56f1da3e"
            ]
        ]
    },
    {
        "id": "204e44be56f1da3e",
        "type": "ip",
        "z": "1311574b9598fed7",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "4d51055119f0f34e"
            ]
        ]
    },
    {
        "id": "4d51055119f0f34e",
        "type": "function",
        "z": "1311574b9598fed7",
        "name": "",
        "func": "msg.serverBaseURL = \"http://\" + msg.payload.internalIPv4;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 100,
        "wires": [
            [
                "b4e781a2c38a5b2b"
            ]
        ]
    },
    {
        "id": "b4e781a2c38a5b2b",
        "type": "change",
        "z": "1311574b9598fed7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serverBaseURL",
                "pt": "flow",
                "to": "serverBaseURL",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c12183d9fc82a5aa",
        "type": "change",
        "z": "1311574b9598fed7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.priority",
                "pt": "msg",
                "to": "7",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.extras",
                "pt": "msg",
                "to": "{\"client::notification\":{\"click\":{\"url\":\"http://192.168.0.2:1880/ui/#!/1\"}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "15191cf7909388fb"
            ]
        ]
    },
    {
        "id": "e06ef970d6c6df2c",
        "type": "change",
        "z": "1311574b9598fed7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.serverBaseURL",
                "pt": "msg",
                "to": "serverBaseURL",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "655fb07bc036f87f",
        "type": "inject",
        "z": "1311574b9598fed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test this",
        "payloadType": "str",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "64883ae135386148"
            ]
        ]
    },
    {
        "id": "64883ae135386148",
        "type": "change",
        "z": "1311574b9598fed7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.priority",
                "pt": "msg",
                "to": "7",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "15191cf7909388fb"
            ]
        ]
    }
]