flows.json
[
    {
        "id": "51fc485990eae9e2",
        "type": "tab",
        "label": "Main / launch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "327f47efb16c7f0d",
        "type": "tab",
        "label": "Calibrate / UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eab09fa8b2002b8c",
        "type": "tab",
        "label": "Motor & LED Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb94fde0b249366b",
        "type": "tab",
        "label": "Person entered / left zone",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dac2eed660b33142",
        "type": "ui_tab",
        "name": "Home",
        "icon": "power_settings_new",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f7a5cadcd740f94",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0c51c89e7beff37c",
        "type": "ui_group",
        "name": "Camera Controls",
        "tab": "dac2eed660b33142",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d3812074d50c30f",
        "type": "ui_group",
        "name": "Stream",
        "tab": "aba3da6e9323ebf6",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a805bc64178b1a5e",
        "type": "ui_group",
        "name": "Debug",
        "tab": "655c8dc16a67b913",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aba3da6e9323ebf6",
        "type": "ui_tab",
        "name": "Stream",
        "icon": "camera",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "655c8dc16a67b913",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "bug_report",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81d9dc7d2bc2e629",
        "type": "ui_spacer",
        "z": "327f47efb16c7f0d",
        "name": "spacer",
        "group": "a805bc64178b1a5e",
        "order": 5,
        "width": "6",
        "height": "1"
    },
    {
        "id": "798c9dda9a34b843",
        "type": "ui_group",
        "name": "Calibrate bed",
        "tab": "aba3da6e9323ebf6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a2013af6e44db409",
        "type": "gotify-server",
        "name": "AI Monitoring",
        "url": "http://192.168.1.183"
    },
    {
        "id": "099fcea174a0354d",
        "type": "shutdown",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 360,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ea7f49d618e15941",
        "type": "restart",
        "z": "51fc485990eae9e2",
        "name": "",
        "x": 330,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1eaba432bcf0faba",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "099fcea174a0354d"
            ]
        ]
    },
    {
        "id": "0255aed030c9815b",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "ea7f49d618e15941"
            ]
        ]
    },
    {
        "id": "7bd5a923d6fc93c5",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "cd  ~/Documents/movenet_stream_privacy/ && source venv/bin/activate && python3 streaming_manager.py ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Camera Control",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ],
            [
                "be3ed87f91ad09af"
            ]
        ]
    },
    {
        "id": "be3ed87f91ad09af",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "9890c788d3074b81",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop_screen_share",
        "payload": "Stopping",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "e7dabda35bf65f08",
                "6e967834e54e40fb",
                "4b63c2827d6959f7",
                "cf47539d879b5233"
            ]
        ]
    },
    {
        "id": "61fa22dbf75783fe",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Daylight Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "wb_sunny",
        "payload": "Starting",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 620,
        "y": 60,
        "wires": [
            [
                "9718a2c3095fb608",
                "65dba4624991126b",
                "9f4638e980ac8c28",
                "8ecc0deee2060c99",
                "5ffb8477c52863bd",
                "ab9e57deeb016ef3",
                "3d87b3e121f960cf",
                "37c46f8a688bdd0f"
            ]
        ]
    },
    {
        "id": "936a62b214eef6ae",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Infrared Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "highlight",
        "payload": "Starting",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "efec5d59a092c176",
                "65dba4624991126b",
                "630a317bde6e428a",
                "ea4f9644eb1c2976",
                "8bf623e969c3ee4d",
                "5af5afe6aeeb22b8",
                "833622fa6e6926ed",
                "2c321575feb37b60"
            ]
        ]
    },
    {
        "id": "efec5d59a092c176",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-i 0 -b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-i 0 -b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 70,
        "y": 220,
        "wires": [
            [
                "bf58c67a252b80f3"
            ]
        ]
    },
    {
        "id": "9718a2c3095fb608",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-e -b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-e -b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "d3721e0d532763a2"
            ]
        ]
    },
    {
        "id": "65dba4624991126b",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "0ac1bad5e801ecf0"
            ]
        ]
    },
    {
        "id": "32e14c558394e8a0",
        "type": "ui_ui_control",
        "z": "51fc485990eae9e2",
        "name": "",
        "events": "all",
        "x": 1460,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0ac1bad5e801ecf0",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "Stream message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stream",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "e9b4453610902957"
            ]
        ]
    },
    {
        "id": "e7dabda35bf65f08",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "BLOCKED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLOCKED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "4cec16956d018d7f"
            ]
        ]
    },
    {
        "id": "8092eaea7904da25",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "de676ca6f603f6a6"
            ]
        ]
    },
    {
        "id": "de676ca6f603f6a6",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "Back to Stream",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stream",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 800,
        "wires": [
            [
                "32e14c558394e8a0"
            ]
        ]
    },
    {
        "id": "0f7a72c0d99ddc90",
        "type": "http request",
        "z": "51fc485990eae9e2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 890,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "c69301e258032bcd",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "a805bc64178b1a5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown system",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "099fcea174a0354d"
            ]
        ]
    },
    {
        "id": "95a6b0b49782f54c",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "a805bc64178b1a5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart system",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "ea7f49d618e15941"
            ]
        ]
    },
    {
        "id": "630a317bde6e428a",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "Start camera (calibrate zone)",
        "mode": "link",
        "links": [
            "3ae75527dbc2b326",
            "f8c8fb49e1d301b0",
            "49287f0f16de6c1b"
        ],
        "x": 200,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "023420b9dece0160",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "http request to python",
        "links": [
            "d1868304b4e2ea32",
            "f2f12303ab842d75",
            "9d17317d984d4d65",
            "d72444de6c95ec10",
            "487f60ed81533c65",
            "52733091d2cab4f1"
        ],
        "x": 680,
        "y": 1100,
        "wires": [
            [
                "0f7a72c0d99ddc90"
            ]
        ],
        "l": true
    },
    {
        "id": "f2b7efc9a618b81b",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "Camera Control/Start",
        "links": [
            "214b5ff874ac7f1b",
            "8fe8f1b28736955a",
            "a42be02db9ba0c62",
            "e7597b643c8e9437",
            "f49b159aa030d7b2",
            "fabfd238ad4046e1",
            "9a05014b19ef91b1"
        ],
        "x": 160,
        "y": 960,
        "wires": [
            [
                "7bd5a923d6fc93c5"
            ]
        ],
        "l": true
    },
    {
        "id": "4cec16956d018d7f",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "mode": "link",
        "links": [
            "b02662db37b059aa",
            "28c54b40ec2e03f5"
        ],
        "x": 570,
        "y": 780,
        "wires": [],
        "l": true
    },
    {
        "id": "ec95bd9e18d519bd",
        "type": "inject",
        "z": "51fc485990eae9e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 960,
        "wires": [
            [
                "842af6c338a7240a"
            ]
        ]
    },
    {
        "id": "842af6c338a7240a",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "sudo docker run -p 80:80 -v /var/gotify/data:/app/data gotify/server-arm64",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "launch gotify push message server",
        "x": 1200,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e9b4453610902957",
        "type": "ui_ui_control",
        "z": "51fc485990eae9e2",
        "name": "",
        "events": "all",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "ea4f9644eb1c2976",
        "type": "ui_toast",
        "z": "51fc485990eae9e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f4638e980ac8c28",
        "type": "ui_toast",
        "z": "51fc485990eae9e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "6e967834e54e40fb",
        "type": "ui_toast",
        "z": "51fc485990eae9e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 320,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c695bcac0827156",
        "type": "switch",
        "z": "51fc485990eae9e2",
        "name": "capturing_camera",
        "property": "capturing_camera",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "IR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OAK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1490,
        "y": 680,
        "wires": [
            [
                "610a22561e37187b",
                "a0db470d6fd42000"
            ],
            [
                "4558a70fcaf427b5",
                "250a0119effec9ee"
            ]
        ]
    },
    {
        "id": "02406efdff9b66b6",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "Switch Camera",
        "group": "4d3812074d50c30f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Switch Camera",
        "tooltip": "need to refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "switch_camera",
        "payload": "Home",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 1080,
        "y": 680,
        "wires": [
            [
                "2f2e7821875f9fc1",
                "d5cf766b4826c7e8",
                "efab3a45d4c1d4f6"
            ]
        ]
    },
    {
        "id": "2f2e7821875f9fc1",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 740,
        "wires": [
            [
                "32e14c558394e8a0",
                "8092eaea7904da25"
            ]
        ]
    },
    {
        "id": "4558a70fcaf427b5",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "IR",
        "rules": [
            {
                "t": "set",
                "p": "capturing_camera",
                "pt": "global",
                "to": "IR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "610a22561e37187b",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "OAK",
        "rules": [
            {
                "t": "set",
                "p": "capturing_camera",
                "pt": "global",
                "to": "OAK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "4b63c2827d6959f7",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "f49b159aa030d7b2",
                "3792ee82b765e86d"
            ]
        ]
    },
    {
        "id": "f49b159aa030d7b2",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 470,
        "y": 680,
        "wires": [],
        "l": true
    },
    {
        "id": "d5cf766b4826c7e8",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "rules": [
            {
                "t": "set",
                "p": "kill",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 580,
        "wires": [
            [
                "8fe8f1b28736955a"
            ]
        ]
    },
    {
        "id": "8fe8f1b28736955a",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 1410,
        "y": 580,
        "wires": [],
        "l": true
    },
    {
        "id": "efab3a45d4c1d4f6",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 680,
        "wires": [
            [
                "8c695bcac0827156",
                "b6e9dfef76e82e10"
            ]
        ]
    },
    {
        "id": "8ecc0deee2060c99",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "Start camera (calibrate zone)",
        "mode": "link",
        "links": [
            "f8c8fb49e1d301b0",
            "3ae75527dbc2b326",
            "49287f0f16de6c1b"
        ],
        "x": 680,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "e7597b643c8e9437",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 370,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "a42be02db9ba0c62",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 910,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "5ffb8477c52863bd",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "OAK",
        "rules": [
            {
                "t": "set",
                "p": "capturing_camera",
                "pt": "global",
                "to": "OAK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8bf623e969c3ee4d",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "IR",
        "rules": [
            {
                "t": "set",
                "p": "capturing_camera",
                "pt": "global",
                "to": "IR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a0db470d6fd42000",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-e -b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-e -b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 620,
        "wires": [
            [
                "fabfd238ad4046e1"
            ]
        ]
    },
    {
        "id": "fabfd238ad4046e1",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 1850,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "250a0119effec9ee",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "-i 0 -b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "-i 0 -b",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 700,
        "wires": [
            [
                "214b5ff874ac7f1b"
            ]
        ]
    },
    {
        "id": "214b5ff874ac7f1b",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera start",
        "mode": "link",
        "links": [
            "f2b7efc9a618b81b"
        ],
        "x": 1850,
        "y": 700,
        "wires": [],
        "l": true
    },
    {
        "id": "b6e9dfef76e82e10",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "Start camera (calibrate zone)",
        "mode": "link",
        "links": [
            "3ae75527dbc2b326",
            "f8c8fb49e1d301b0",
            "49287f0f16de6c1b"
        ],
        "x": 1460,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "bb78e72ea547d9c3",
        "type": "ui_button",
        "z": "51fc485990eae9e2",
        "name": "",
        "group": "0c51c89e7beff37c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Night Bed Tracking",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "brightness_2",
        "payload": "Starting Tracking",
        "payloadType": "str",
        "topic": "Streaming",
        "topicType": "str",
        "x": 1170,
        "y": 60,
        "wires": [
            [
                "d117b77f041f2a4b",
                "b1ed1a8256d06827",
                "302102311aecb4a2",
                "65dba4624991126b",
                "e1dd44e4b3278371",
                "a4b32adfa66f6114",
                "d01830d0d4f708ea",
                "8a5e9dcf7d3013d7"
            ]
        ]
    },
    {
        "id": "d117b77f041f2a4b",
        "type": "ui_toast",
        "z": "51fc485990eae9e2",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1200,
        "y": 120,
        "wires": []
    },
    {
        "id": "b1ed1a8256d06827",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "Start camera (calibrate zone)",
        "mode": "link",
        "links": [
            "f8c8fb49e1d301b0",
            "3ae75527dbc2b326",
            "49287f0f16de6c1b"
        ],
        "x": 1220,
        "y": 160,
        "wires": [],
        "l": true
    },
    {
        "id": "302102311aecb4a2",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "MOTION",
        "rules": [
            {
                "t": "set",
                "p": "capturing_camera",
                "pt": "global",
                "to": "MOTION",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1d3b7a8580e432d6",
        "type": "exec",
        "z": "51fc485990eae9e2",
        "command": "cd  ~/Documents/movenet_stream_privacy/motion-detection/ && source venv/bin/activate && python3 streaming_motion.py ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Camera MOTION",
        "x": 1610,
        "y": 60,
        "wires": [
            [
                "6e3f54aa369a9a40"
            ],
            [
                "6e3f54aa369a9a40"
            ],
            [
                "6e3f54aa369a9a40"
            ]
        ]
    },
    {
        "id": "6e3f54aa369a9a40",
        "type": "debug",
        "z": "51fc485990eae9e2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1880,
        "y": 60,
        "wires": []
    },
    {
        "id": "8ba072e69dfa4c71",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "Camera Control/Motion",
        "links": [
            "3792ee82b765e86d"
        ],
        "x": 1620,
        "y": 120,
        "wires": [
            [
                "1d3b7a8580e432d6"
            ]
        ],
        "l": true
    },
    {
        "id": "3792ee82b765e86d",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motion",
        "mode": "link",
        "links": [
            "8ba072e69dfa4c71"
        ],
        "x": 480,
        "y": 740,
        "wires": [],
        "l": true
    },
    {
        "id": "e1dd44e4b3278371",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "MASKED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "MASKED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 280,
        "wires": [
            [
                "b65459e68ad89f74"
            ]
        ]
    },
    {
        "id": "b65459e68ad89f74",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "mode": "link",
        "links": [
            "b02662db37b059aa",
            "28c54b40ec2e03f5"
        ],
        "x": 1410,
        "y": 280,
        "wires": [],
        "l": true
    },
    {
        "id": "bf58c67a252b80f3",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "e7597b643c8e9437"
            ]
        ]
    },
    {
        "id": "d3721e0d532763a2",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "a42be02db9ba0c62"
            ]
        ]
    },
    {
        "id": "a4b32adfa66f6114",
        "type": "delay",
        "z": "51fc485990eae9e2",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1370,
        "y": 60,
        "wires": [
            [
                "1d3b7a8580e432d6"
            ]
        ]
    },
    {
        "id": "25dbf6366cb24332",
        "type": "link in",
        "z": "51fc485990eae9e2",
        "name": "kill cameras",
        "links": [
            "d01830d0d4f708ea",
            "ab9e57deeb016ef3",
            "5af5afe6aeeb22b8"
        ],
        "x": 130,
        "y": 700,
        "wires": [
            [
                "4b63c2827d6959f7"
            ]
        ],
        "l": true
    },
    {
        "id": "d01830d0d4f708ea",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "mode": "link",
        "links": [
            "25dbf6366cb24332"
        ],
        "x": 1150,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "ab9e57deeb016ef3",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "mode": "link",
        "links": [
            "25dbf6366cb24332"
        ],
        "x": 610,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "5af5afe6aeeb22b8",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "kill",
        "mode": "link",
        "links": [
            "25dbf6366cb24332"
        ],
        "x": 150,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "833622fa6e6926ed",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "BLURRED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLURRED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "55ce6d68aa3bc63f"
            ]
        ]
    },
    {
        "id": "55ce6d68aa3bc63f",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "mode": "link",
        "links": [
            "b02662db37b059aa",
            "28c54b40ec2e03f5"
        ],
        "x": 390,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "3d87b3e121f960cf",
        "type": "change",
        "z": "51fc485990eae9e2",
        "name": "MASKED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLURRED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "659f0502f9379742"
            ]
        ]
    },
    {
        "id": "659f0502f9379742",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "camera motor calibration",
        "mode": "link",
        "links": [
            "b02662db37b059aa",
            "28c54b40ec2e03f5"
        ],
        "x": 870,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "2c321575feb37b60",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "LED startup",
        "mode": "link",
        "links": [
            "80bf3482f2ed1f7d",
            "8398fa7670d98ca3"
        ],
        "x": 170,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "37c46f8a688bdd0f",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "LED startup",
        "mode": "link",
        "links": [
            "80bf3482f2ed1f7d",
            "8398fa7670d98ca3"
        ],
        "x": 630,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "cf47539d879b5233",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "LED shutdown",
        "mode": "link",
        "links": [
            "a7a2ea7e0534e1ff",
            "c4b57fcca5d4461d"
        ],
        "x": 340,
        "y": 860,
        "wires": [],
        "l": true
    },
    {
        "id": "8a5e9dcf7d3013d7",
        "type": "link out",
        "z": "51fc485990eae9e2",
        "name": "LED startup",
        "mode": "link",
        "links": [
            "80bf3482f2ed1f7d",
            "8398fa7670d98ca3"
        ],
        "x": 1170,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "983753b41a869c06",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "1x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 6,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "1x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "1f3a5c7a468978d1",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "1y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 7,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "1y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "8ebf06c5dec318f1",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "2x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 8,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "2x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "e37ea9607b3071fc",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "2y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 9,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "2y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "a75a50fdd3a52767",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "3x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 10,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "3x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "4784b1f995ed89ba",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "3y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 11,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "3y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "16946a14565ba91a",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "4x",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 12,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "4x",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "b1346971aa493f07",
        "type": "ui_numeric",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "4y",
        "tooltip": "",
        "group": "798c9dda9a34b843",
        "order": 13,
        "width": "3",
        "height": "1",
        "wrap": false,
        "passthru": false,
        "topic": "4y",
        "topicType": "str",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "e901b9e1fd58855f",
        "type": "ui_text",
        "z": "327f47efb16c7f0d",
        "group": "798c9dda9a34b843",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjust bed position (1 top left, 2 top right, 3 bottom right, 4 bottom left)",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "f3914d316ef27f0e",
        "type": "http request",
        "z": "327f47efb16c7f0d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:5000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1210,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "54e4e908391bd322",
        "type": "join",
        "z": "327f47efb16c7f0d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "526990eaabad75f4"
            ]
        ]
    },
    {
        "id": "526990eaabad75f4",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bed_points",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 360,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "d9838f461d562009",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "send bed_point stored ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bed_points",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "7722031035527275"
            ]
        ]
    },
    {
        "id": "8014812cbb0a1787",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "d9838f461d562009"
            ]
        ]
    },
    {
        "id": "7722031035527275",
        "type": "split",
        "z": "327f47efb16c7f0d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "topic",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "ae8998fb87e318ca",
                "54e4e908391bd322"
            ]
        ]
    },
    {
        "id": "5e99f4bc7d09a39c",
        "type": "comment",
        "z": "327f47efb16c7f0d",
        "name": "remember on start old values",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "ae8998fb87e318ca",
        "type": "switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4y",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 8,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "983753b41a869c06"
            ],
            [
                "1f3a5c7a468978d1"
            ],
            [
                "8ebf06c5dec318f1"
            ],
            [
                "e37ea9607b3071fc"
            ],
            [
                "a75a50fdd3a52767"
            ],
            [
                "4784b1f995ed89ba"
            ],
            [
                "16946a14565ba91a"
            ],
            [
                "b1346971aa493f07"
            ]
        ]
    },
    {
        "id": "f8c8fb49e1d301b0",
        "type": "link in",
        "z": "327f47efb16c7f0d",
        "name": "Start Camera",
        "links": [
            "630a317bde6e428a",
            "8ecc0deee2060c99",
            "b6e9dfef76e82e10",
            "b1ed1a8256d06827"
        ],
        "x": 550,
        "y": 480,
        "wires": [
            [
                "9a88a67bc50e7c6f"
            ]
        ],
        "l": true
    },
    {
        "id": "9a88a67bc50e7c6f",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 480,
        "wires": [
            [
                "2d7c2b4b56223609"
            ]
        ]
    },
    {
        "id": "2d7c2b4b56223609",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "flow to msg bed_points",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bed_points",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 480,
        "wires": [
            [
                "f3914d316ef27f0e"
            ]
        ]
    },
    {
        "id": "82d5cef025f88a84",
        "type": "comment",
        "z": "327f47efb16c7f0d",
        "name": "Send on node-red start & camera AI start",
        "info": "",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "b8e60a724a58e40e",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "2d7c2b4b56223609"
            ]
        ]
    },
    {
        "id": "09a9f36d5b747494",
        "type": "ui_iframe",
        "z": "327f47efb16c7f0d",
        "group": "4d3812074d50c30f",
        "name": "",
        "order": 4,
        "width": "14",
        "height": "13",
        "url": "http://192.168.1.183:5000",
        "origin": "*",
        "scale": "100",
        "x": 830,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "94af1f0a6e34af06",
        "type": "ip",
        "z": "327f47efb16c7f0d",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": true,
        "internalIPv6": false,
        "publicIPv4": false,
        "publicIPv6": false,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "f93914d87cd32baa"
            ]
        ]
    },
    {
        "id": "1ce4e0ebb9c65159",
        "type": "inject",
        "z": "327f47efb16c7f0d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "94af1f0a6e34af06"
            ]
        ]
    },
    {
        "id": "f93914d87cd32baa",
        "type": "function",
        "z": "327f47efb16c7f0d",
        "name": "set camera view iframe to localhost ip",
        "func": "msg.url = \"http://\" + msg.payload.internalIPv4 + \":5000\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 660,
        "wires": [
            [
                "09a9f36d5b747494"
            ]
        ]
    },
    {
        "id": "a7c5494f34d77c3c",
        "type": "ui_slider",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "Zoom level",
        "tooltip": "",
        "group": "4d3812074d50c30f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": "10",
        "max": "200",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 700,
        "wires": [
            [
                "f0a1a492ad985631"
            ]
        ]
    },
    {
        "id": "f0a1a492ad985631",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 700,
        "wires": [
            [
                "09a9f36d5b747494"
            ]
        ]
    },
    {
        "id": "d48ab5fae48938b7",
        "type": "ui_slider",
        "z": "327f47efb16c7f0d",
        "name": "body detection threshold",
        "label": "Body detection threshold",
        "tooltip": "",
        "group": "a805bc64178b1a5e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.02",
        "className": "",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "9fc82b7875add7bf",
                "f04ab1da4db42cba"
            ]
        ]
    },
    {
        "id": "487f60ed81533c65",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "http request ",
        "mode": "link",
        "links": [
            "023420b9dece0160"
        ],
        "x": 770,
        "y": 860,
        "wires": [],
        "l": true
    },
    {
        "id": "9fc82b7875add7bf",
        "type": "template",
        "z": "327f47efb16c7f0d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"threshold\": \"{{payload}}\"}",
        "output": "json",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "487f60ed81533c65"
            ]
        ]
    },
    {
        "id": "f04ab1da4db42cba",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "store threshold",
        "rules": [
            {
                "t": "set",
                "p": "threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "49287f0f16de6c1b",
        "type": "link in",
        "z": "327f47efb16c7f0d",
        "name": "Start Camera",
        "links": [
            "630a317bde6e428a",
            "8ecc0deee2060c99",
            "b6e9dfef76e82e10",
            "b1ed1a8256d06827"
        ],
        "x": 190,
        "y": 920,
        "wires": [
            [
                "55cdb879cbe11600"
            ]
        ],
        "l": true
    },
    {
        "id": "55cdb879cbe11600",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 920,
        "wires": [
            [
                "fb18b68e7a7a1886"
            ]
        ]
    },
    {
        "id": "fb18b68e7a7a1886",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "flow to msg tresh",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "threshold",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "9fc82b7875add7bf"
            ]
        ]
    },
    {
        "id": "230ef5b7f51414b3",
        "type": "comment",
        "z": "327f47efb16c7f0d",
        "name": "Store and set threshold",
        "info": "",
        "x": 200,
        "y": 800,
        "wires": []
    },
    {
        "id": "553f2d93c2d0b1f6",
        "type": "ui_button",
        "z": "327f47efb16c7f0d",
        "name": "Open Camera",
        "group": "4d3812074d50c30f",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Open Camera",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "remove_red_eye",
        "payload": "{\"camera\":\"open\"}",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "8e6fb3dd55221cb9",
                "844b2954048a380f",
                "52733091d2cab4f1"
            ]
        ]
    },
    {
        "id": "9fbc5ab65c6dae0b",
        "type": "delay",
        "z": "327f47efb16c7f0d",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 1120,
        "wires": [
            [
                "1b6f24d43b3abc0b",
                "a908a7d784a8897c"
            ]
        ]
    },
    {
        "id": "1b6f24d43b3abc0b",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "blur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"blur\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1120,
        "wires": [
            [
                "52733091d2cab4f1"
            ]
        ]
    },
    {
        "id": "8e6fb3dd55221cb9",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "set delay from flow vairable",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1120,
        "wires": [
            [
                "9fbc5ab65c6dae0b"
            ]
        ]
    },
    {
        "id": "844b2954048a380f",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "turn motor backward/left",
        "mode": "link",
        "links": [
            "b563a41d147e38b3",
            "0cb8332e4be46e1d"
        ],
        "x": 270,
        "y": 1160,
        "wires": [],
        "l": true
    },
    {
        "id": "a908a7d784a8897c",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "turn motor forward/right",
        "mode": "link",
        "links": [
            "9d0b263feb28b585",
            "0d50c74b43c62d19"
        ],
        "x": 690,
        "y": 1160,
        "wires": [],
        "l": true
    },
    {
        "id": "52733091d2cab4f1",
        "type": "link out",
        "z": "327f47efb16c7f0d",
        "name": "http request ",
        "mode": "link",
        "links": [
            "023420b9dece0160",
            "63c3bf88e22f63ea"
        ],
        "x": 810,
        "y": 1100,
        "wires": [],
        "l": true
    },
    {
        "id": "d0fbabbf6a1d099e",
        "type": "ui_slider",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "Keep open (s)",
        "tooltip": "",
        "group": "4d3812074d50c30f",
        "order": 2,
        "width": "5",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "5",
        "max": "600",
        "step": "5",
        "className": "",
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "fd419839e3d0506f"
            ]
        ]
    },
    {
        "id": "bdedcb44b3e17808",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "store unblur/open delay time",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fd419839e3d0506f",
        "type": "function",
        "z": "327f47efb16c7f0d",
        "name": "s to ms",
        "func": "msg.payload *= 1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 660,
        "wires": [
            [
                "bdedcb44b3e17808"
            ]
        ]
    },
    {
        "id": "72a6ca478f242f99",
        "type": "ui_text",
        "z": "327f47efb16c7f0d",
        "group": "a805bc64178b1a5e",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Debug text",
        "label": "This tab is for debugging only",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "386790d331ad63fa",
        "type": "ui_text",
        "z": "327f47efb16c7f0d",
        "group": "a805bc64178b1a5e",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Manually text",
        "label": "Manually control motor and light",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "ef96f2bd8a45b356",
        "type": "ui_switch",
        "z": "327f47efb16c7f0d",
        "name": "",
        "label": "Disable Automatic Mode ",
        "tooltip": "(turns off swapping between modes)",
        "group": "0c51c89e7beff37c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1110,
        "y": 860,
        "wires": [
            [
                "85b6f14e4c315758"
            ]
        ]
    },
    {
        "id": "85b6f14e4c315758",
        "type": "change",
        "z": "327f47efb16c7f0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "automatic_mode_OFF",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b4f519ced9721398",
        "type": "python3-function",
        "z": "eab09fa8b2002b8c",
        "name": "Motor Control Manual",
        "func": "import RPi.GPIO as GPIO\nimport time\nGPIO.setmode(GPIO.BOARD)\ncontrol_pins = [7,11,13,15]\nfor pin in control_pins:\n    GPIO.setup(pin, GPIO.OUT)\n    GPIO.output(pin, 0)\n\nhalfstep_seq = [\n    [1,0,0,0],\n    [1,1,0,0],\n    [0,1,0,0],\n    [0,1,1,0],\n    [0,0,1,0],\n    [0,0,1,1],\n    [0,0,0,1],\n    [1,0,0,1]\n]\n\nnode.send(\"direction: \" + str(msg['direction']) + \"  steps: \"+ str(int(msg['steps'])) + \"  waitBetweenSteps: \" + str(float(msg['waitBetweenSteps'] )))\n\nif msg['direction'] == \"forward\":\n    for i in range(int(msg['steps'])):\n        for halfstep in range(8):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n        \n\nelif msg['direction'] == \"backward\":\n\n    for i in range(msg['steps']):\n        for halfstep in reversed(range(8)):\n            for pin in range(4):\n                GPIO.output(control_pins[pin], halfstep_seq[halfstep][pin])\n            time.sleep(float(msg['waitBetweenSteps']))\n\nGPIO.cleanup()\n\n",
        "outputs": 1,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "b4521b9705098456"
            ]
        ]
    },
    {
        "id": "b4521b9705098456",
        "type": "debug",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3a695a3fd96de49",
        "type": "pythonshell in",
        "z": "eab09fa8b2002b8c",
        "name": "motor",
        "pyfile": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/motor.py",
        "virtualenv": "/home/pi/Documents/movenet_stream_privacy/physical_camera_interface/rgb_sensor_venv",
        "continuous": true,
        "stdInData": true,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "d0d22a5a01b2ae6c"
            ]
        ]
    },
    {
        "id": "d0d22a5a01b2ae6c",
        "type": "debug",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f0a38dd695e0b9e",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "BLURRED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_RIGHT",
        "payloadType": "str",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "388de4f2c95f9afa",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "MASKED_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_RIGHT",
        "payloadType": "str",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "3c719e42d2950b3a",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "OPEN_RIGHT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_RIGHT",
        "payloadType": "str",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "81306ade2041ea25",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "BLOCKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_LEFT",
        "payloadType": "str",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "ade062416e0362d5",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "BLURRED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLURRED_LEFT",
        "payloadType": "str",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "31eb6788b0f9e3ac",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "MASKED_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "MASKED_LEFT",
        "payloadType": "str",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "6fab9b9ca0f6eab5",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "OPEN_LEFT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OPEN_LEFT",
        "payloadType": "str",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "71159e97e01473e3",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "READ_CONTINOUSLY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "READ_CONTINOUSLY",
        "payloadType": "str",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "ca0e8a07c43395e8",
        "type": "inject",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "BLOCKED_RIGHT",
        "payloadType": "str",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "b6294f582222b50a",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "turn motor backward",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "backward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "steps",
                "pt": "msg",
                "to": "270",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "b4f519ced9721398"
            ]
        ]
    },
    {
        "id": "06cc2226892a802a",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "turn motor forward",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "steps",
                "pt": "msg",
                "to": "270",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "b4f519ced9721398"
            ]
        ]
    },
    {
        "id": "0cb8332e4be46e1d",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "turn motor backward/left",
        "links": [
            "d88f03840cf26084",
            "a6b34d959b0649ab",
            "ae920d607f100c74",
            "c7ef88edcbff92d3",
            "3a2a6325efdede95",
            "93b41b2792f3105a",
            "844b2954048a380f"
        ],
        "x": 160,
        "y": 200,
        "wires": [
            [
                "b6294f582222b50a"
            ]
        ],
        "l": true
    },
    {
        "id": "0d50c74b43c62d19",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "turn motor forward/right",
        "links": [
            "734a0506156b5009",
            "3b57784d039f5e20",
            "de323cc827e7a235",
            "0d77b3af7a737289",
            "a908a7d784a8897c"
        ],
        "x": 160,
        "y": 40,
        "wires": [
            [
                "06cc2226892a802a"
            ]
        ],
        "l": true
    },
    {
        "id": "28c54b40ec2e03f5",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "camera motor calibration",
        "links": [
            "4cec16956d018d7f",
            "de323cc827e7a235",
            "b65459e68ad89f74",
            "55ce6d68aa3bc63f",
            "659f0502f9379742"
        ],
        "x": 150,
        "y": 320,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ],
        "l": true
    },
    {
        "id": "1e9ae886d2a39465",
        "type": "ui_button",
        "z": "eab09fa8b2002b8c",
        "name": "Turn camera shield to blurred",
        "group": "a805bc64178b1a5e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn camera shield to blurred",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "BLURRED_LEFT",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 660,
        "wires": [
            [
                "d3a695a3fd96de49"
            ]
        ]
    },
    {
        "id": "65ac35a73db7eccf",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "manual motor control",
        "links": [
            "ccf3971fd00fdd15",
            "d5763d49b6503104"
        ],
        "x": 160,
        "y": 140,
        "wires": [
            [
                "b4f519ced9721398"
            ]
        ],
        "l": true
    },
    {
        "id": "8ca1f2f84c6941f8",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "230498abb32bded3",
                "d5763d49b6503104"
            ]
        ]
    },
    {
        "id": "2622f0c09d3de0d0",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "direction",
                "pt": "msg",
                "to": "backward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waitBetweenSteps",
                "pt": "msg",
                "to": "0.005",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "steps",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "757ffb0c0aa3a847",
                "d5763d49b6503104"
            ]
        ]
    },
    {
        "id": "1bd69ce8186ae6be",
        "type": "ui_slider",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "label": "left",
        "tooltip": "",
        "group": "a805bc64178b1a5e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "8ca1f2f84c6941f8"
            ]
        ]
    },
    {
        "id": "76ccfdbc93e7cd3a",
        "type": "ui_slider",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "label": "right",
        "tooltip": "",
        "group": "a805bc64178b1a5e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "steps",
        "topicType": "msg",
        "min": "0",
        "max": "512",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "2622f0c09d3de0d0"
            ]
        ]
    },
    {
        "id": "230498abb32bded3",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "move slider to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "20f9b62ef2d5691c"
            ]
        ]
    },
    {
        "id": "757ffb0c0aa3a847",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "move slider to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "98cbd0b612c656fb"
            ]
        ]
    },
    {
        "id": "20f9b62ef2d5691c",
        "type": "delay",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 760,
        "wires": [
            [
                "1bd69ce8186ae6be"
            ]
        ]
    },
    {
        "id": "98cbd0b612c656fb",
        "type": "delay",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 730,
        "y": 800,
        "wires": [
            [
                "76ccfdbc93e7cd3a"
            ]
        ]
    },
    {
        "id": "d5763d49b6503104",
        "type": "link out",
        "z": "eab09fa8b2002b8c",
        "name": "manual motor control",
        "mode": "link",
        "links": [
            "f5882ae584daac45",
            "65ac35a73db7eccf"
        ],
        "x": 520,
        "y": 720,
        "wires": [],
        "l": true
    },
    {
        "id": "54b1ffa93ef402b7",
        "type": "ui_colour_picker",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "label": "LED control",
        "group": "a805bc64178b1a5e",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": false,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "566d72f3a1b5a2b5"
            ]
        ]
    },
    {
        "id": "dfb3149dfef0f8c2",
        "type": "exec",
        "z": "eab09fa8b2002b8c",
        "command": "sudo python3 ~/Documents/movenet_stream_privacy/physical_camera_interface/pixelColor.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "LED Control",
        "x": 1450,
        "y": 440,
        "wires": [
            [
                "ffb097d04f7ab2c1"
            ],
            [
                "ffb097d04f7ab2c1"
            ],
            [
                "ffb097d04f7ab2c1"
            ]
        ]
    },
    {
        "id": "566d72f3a1b5a2b5",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "rgb(",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ",",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ")",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 440,
        "wires": [
            [
                "dfb3149dfef0f8c2",
                "ffb097d04f7ab2c1"
            ]
        ]
    },
    {
        "id": "ffb097d04f7ab2c1",
        "type": "debug",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1660,
        "y": 440,
        "wires": []
    },
    {
        "id": "fb43cca3b9f37e83",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "15 17 21",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "15 17 21",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 60,
        "wires": [
            [
                "1375410b61b61f14",
                "521c4d221a235053"
            ]
        ]
    },
    {
        "id": "1375410b61b61f14",
        "type": "delay",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "83ef98053d67b859"
            ]
        ]
    },
    {
        "id": "83ef98053d67b859",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "3 7 7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3 7 7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 60,
        "wires": [
            [
                "521c4d221a235053"
            ]
        ]
    },
    {
        "id": "b45f888f02a39f53",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "6 16 6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6 16 6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 160,
        "wires": [
            [
                "521c4d221a235053",
                "c5985a980dd287d5"
            ]
        ]
    },
    {
        "id": "f14f3749b39a67f3",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "LED_control",
        "links": [
            "521c4d221a235053"
        ],
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "dfb3149dfef0f8c2"
            ]
        ],
        "l": true
    },
    {
        "id": "521c4d221a235053",
        "type": "link out",
        "z": "eab09fa8b2002b8c",
        "name": "led control",
        "mode": "link",
        "links": [
            "f14f3749b39a67f3"
        ],
        "x": 1790,
        "y": 200,
        "wires": [],
        "icon": "node-red/light.svg",
        "l": true
    },
    {
        "id": "19ab2a8397e364ac",
        "type": "ui_switch",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "label": "Sleep Mode Off/On",
        "tooltip": "(shuts off LED)",
        "group": "0c51c89e7beff37c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "e3f2110e24f806ed"
            ]
        ]
    },
    {
        "id": "686aeee78204e840",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "night_mode",
                "pt": "global",
                "to": "LED_off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e7bc646394bb5acd",
        "type": "switch",
        "z": "eab09fa8b2002b8c",
        "name": "night_mode",
        "property": "night_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "LED_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LED_off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "b45f888f02a39f53"
            ],
            []
        ]
    },
    {
        "id": "ba9b2276f2d27948",
        "type": "switch",
        "z": "eab09fa8b2002b8c",
        "name": "night_mode",
        "property": "night_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "LED_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LED_off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "fb43cca3b9f37e83"
            ],
            []
        ]
    },
    {
        "id": "e3f2110e24f806ed",
        "type": "switch",
        "z": "eab09fa8b2002b8c",
        "name": "night_mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1370,
        "y": 280,
        "wires": [
            [
                "686aeee78204e840",
                "51616ac9a4567571"
            ],
            [
                "2809babf8872f82f",
                "baaac441c62666ca"
            ]
        ]
    },
    {
        "id": "2809babf8872f82f",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "night_mode",
                "pt": "global",
                "to": "LED_on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "51616ac9a4567571",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "0 0 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 220,
        "wires": [
            [
                "521c4d221a235053"
            ]
        ]
    },
    {
        "id": "baaac441c62666ca",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "3 7 7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3 7 7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 340,
        "wires": [
            [
                "521c4d221a235053"
            ]
        ]
    },
    {
        "id": "13a2f2a1da9d0e7f",
        "type": "change",
        "z": "eab09fa8b2002b8c",
        "name": "0 0 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0 0 0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 120,
        "wires": [
            [
                "521c4d221a235053"
            ]
        ]
    },
    {
        "id": "c5985a980dd287d5",
        "type": "delay",
        "z": "eab09fa8b2002b8c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 120,
        "wires": [
            [
                "13a2f2a1da9d0e7f"
            ]
        ]
    },
    {
        "id": "8398fa7670d98ca3",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "LED startup",
        "links": [
            "2c321575feb37b60",
            "37c46f8a688bdd0f",
            "8a5e9dcf7d3013d7"
        ],
        "x": 1070,
        "y": 60,
        "wires": [
            [
                "ba9b2276f2d27948"
            ]
        ],
        "l": true
    },
    {
        "id": "c4b57fcca5d4461d",
        "type": "link in",
        "z": "eab09fa8b2002b8c",
        "name": "LED shutdown",
        "links": [
            "8f68aa149f364d55",
            "cf47539d879b5233"
        ],
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "e7bc646394bb5acd"
            ]
        ],
        "l": true
    },
    {
        "id": "d275a08a271edac4",
        "type": "http in",
        "z": "eb94fde0b249366b",
        "name": "",
        "url": "body",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "badddd769b73a2de",
                "45be9894aca6dde0"
            ]
        ]
    },
    {
        "id": "badddd769b73a2de",
        "type": "http response",
        "z": "eb94fde0b249366b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "45be9894aca6dde0",
        "type": "switch",
        "z": "eb94fde0b249366b",
        "name": "",
        "property": "payload.body",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "not_there",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "is_there",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 60,
        "wires": [
            [
                "83e5847a3de691c3"
            ],
            [
                "d776e9b0807d1b7b"
            ]
        ]
    },
    {
        "id": "de323cc827e7a235",
        "type": "link out",
        "z": "eb94fde0b249366b",
        "name": "turn motor forward/right",
        "mode": "link",
        "links": [
            "0d50c74b43c62d19",
            "28c54b40ec2e03f5"
        ],
        "x": 1250,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "c7ef88edcbff92d3",
        "type": "link out",
        "z": "eb94fde0b249366b",
        "name": "turn motor backward/left",
        "mode": "link",
        "links": [
            "b563a41d147e38b3",
            "0cb8332e4be46e1d"
        ],
        "x": 1070,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "503f1ffe468c6c27",
        "type": "delay",
        "z": "eb94fde0b249366b",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "be040413305ca607",
                "91ea31f4ade8dd44"
            ]
        ]
    },
    {
        "id": "08db72e8c20e2f4a",
        "type": "delay",
        "z": "eb94fde0b249366b",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "c7ef88edcbff92d3",
                "503f1ffe468c6c27",
                "af195d6e93e45832"
            ]
        ]
    },
    {
        "id": "646ccd8c627b8c17",
        "type": "gotify-notification",
        "z": "eb94fde0b249366b",
        "server": "a2013af6e44db409",
        "title": "Monitoring",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e74b8ecaf76dc9b",
        "type": "ui_toast",
        "z": "eb94fde0b249366b",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "d776e9b0807d1b7b",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "Person entered zone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Person entered zone",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "8e74b8ecaf76dc9b",
                "646ccd8c627b8c17",
                "34fdabb5acb2c638"
            ]
        ]
    },
    {
        "id": "83e5847a3de691c3",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "Person left zone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Person left zone",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "8e74b8ecaf76dc9b",
                "646ccd8c627b8c17"
            ]
        ]
    },
    {
        "id": "af195d6e93e45832",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "{\"camera\":\"open\"}",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"open\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "9d17317d984d4d65"
            ]
        ]
    },
    {
        "id": "be040413305ca607",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "{\"camera\":\"blur\"}",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"camera\":\"blur\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "9d17317d984d4d65"
            ]
        ]
    },
    {
        "id": "9d17317d984d4d65",
        "type": "link out",
        "z": "eb94fde0b249366b",
        "name": "http request ",
        "mode": "link",
        "links": [
            "023420b9dece0160",
            "63c3bf88e22f63ea"
        ],
        "x": 1310,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "91ea31f4ade8dd44",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "BLURRED_LEFT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLURRED_LEFT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "de323cc827e7a235"
            ]
        ]
    },
    {
        "id": "34fdabb5acb2c638",
        "type": "switch",
        "z": "eb94fde0b249366b",
        "name": "automatic_mode_OFF",
        "property": "automatic_mode_OFF",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 240,
        "wires": [
            [],
            [
                "08db72e8c20e2f4a"
            ]
        ]
    },
    {
        "id": "88c99712596f5f71",
        "type": "inject",
        "z": "eb94fde0b249366b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "7273632b821a358b"
            ]
        ]
    },
    {
        "id": "7273632b821a358b",
        "type": "change",
        "z": "eb94fde0b249366b",
        "name": "Unusual movement",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Unusual movement",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "8e74b8ecaf76dc9b",
                "646ccd8c627b8c17"
            ]
        ]
    },
    {
        "id": "652204894dfa2d0a",
        "type": "random",
        "z": "eb94fde0b249366b",
        "name": "",
        "low": 1,
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "e26e5b92a5636fce",
                "3194690d67b71b2b"
            ]
        ]
    },
    {
        "id": "2d58b058318ddd49",
        "type": "inject",
        "z": "eb94fde0b249366b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "6daf83dd27936d14"
            ]
        ]
    },
    {
        "id": "6daf83dd27936d14",
        "type": "switch",
        "z": "eb94fde0b249366b",
        "name": "capturing_camera",
        "property": "capturing_camera",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "IR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OAK",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MOTION",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "652204894dfa2d0a"
            ]
        ]
    },
    {
        "id": "e26e5b92a5636fce",
        "type": "switch",
        "z": "eb94fde0b249366b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "7273632b821a358b"
            ],
            []
        ]
    },
    {
        "id": "3194690d67b71b2b",
        "type": "debug",
        "z": "eb94fde0b249366b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 540,
        "wires": []
    }
]